body{
    background: yellow;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 97vh;
}
.container{
    position: relative;
    height: 250px;
    width: 500px;
    border-bottom: thin solid black;
    overflow: hidden;
}
.chart{
    position: relative;
    height: 500px;
    width: 500px;
    --tamanhoBorda: 70px;
    border: var(--tamanhoBorda) solid black;
    border-top: var(--tamanhoBorda) solid #8968CD;
    border-left: var(--tamanhoBorda) solid #8968CD;
    border-radius: 50%;
    transform: rotate(-135deg);
    box-sizing: border-box;
    z-index: 1;
}
.text{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    z-index: 2;
    font-size: 85px;
}